
body {
  background-color: #282c34;
  color: white;
}

.header{
  display: flex;
  background-color: #131313;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-logo{
  display: flex;
  flex-direction: row;
}

.header img{
  height: 80px;
  width: 80px;
}

.header p {
  display: flex;
}

.navbar{
  display: flex;
  gap:1.2em;
  justify-content: center;
  font-size: 1.3em;
  border: 1px solid #fff;
}

.navbar-link{
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover{
  scale: 1.5;
  transition-duration: 1s;
  color:#131313;
}

.main{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container img{
  width: 400px;
  height: 500px;
}

.image-container p {
  font-size: 1em;
}

.footer{
  text-align: center;
  background-color: #131313;
  padding: 0.4em;
}

.footer-contact{
  display: flex;
  justify-content: space-around;
}
.footer-contact  a {
  text-decoration: none;
  color:white;
}

.footer-contact a:hover{
  font-size: 1.2em ;
}